<div class="card sport-app-card">
  <div class="card-header">
    <h5 class="card-title"></h5>
    <h6 class="card-subtitle mb-2 text-muted" i18n>Your health and exercise platform</h6>
  </div>
  <img class="card-img-top" src="assets/images/home/home_ciclysm.jpg" alt="SportApp">
  <hr>
  <div class="card-body">
    <p i18n>SportApp helps you:</p>
    <ul>
      <li i18n>Control your physical activity: cycling, running.</li>
      <li i18n>Monitor your progress and achieve your health goals.</li>
      <li i18n>Connect with other athletes and share your passion for sports.</li>
    </ul>
  </div>
  <div class="card-footer">
    <a href="#" class="btn btn-primary" i18n>More information</a>
    <a href="#" class="btn btn-primary" i18n>Download the app</a>
  </div>
</div>
