<mat-card class="sport-app-card">
  <mat-card-header>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle>Tu plataforma de salud y ejercicio</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/home/home_ciclysm.jpg" alt="SportApp">
  <hr>
  <mat-card-content>
    <p>SportApp te ayuda a:</p>
    <ul>
      <li>Controlar tu actividad física: ciclismo, carreras, natación, etc.</li>
      <li>Monitorizar tu progreso y alcanzar tus objetivos de fitness.</li>
      <li>Conectar con otros deportistas y compartir tu pasión por el deporte.</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="#">Más información</a>
    <a mat-button href="#">Descarga la app</a>
  </mat-card-actions>
</mat-card>
