.sport-app-card {
  max-width: 75%;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.sport-app-card img {
  object-fit: cover;
  max-width: 50%;
  margin: 0 auto;
}

.sport-app-card ul {
  list-style: none;
  padding: 0;
}

.sport-app-card li {
  padding: 5px 0;
}

.sport-app-card a {
  margin-right: 10px;
  color: white;
}

.card-header h6 {
  margin-right: 14px;
  color: white;
}

.sport-app-card h5 {
  margin-right: 14px;
  color: white;
}

.rounded-table {
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;

  thead {
    th {
      text-align: center;
      font-weight: bold;

      &:first-child {
        font-weight: bold;
      }
    }
  }

  tbody {
    tr {
      td {
        &:first-child {
          font-weight: bold;
        }
      }
    }
  }

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 50%;
  }

  thead th {
    border-top: 1px solid #ddd;
  }

  tbody tr:last-child td {
    border-bottom: none;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody tr:hover {
    background-color: #ddd;
  }
}


@media (min-width: 768px) {
  .sport-app-card img {
    width: 50%;
  }
}
