<!-- Header -->
<app-headers></app-headers>
<!-- Content -->
<div class="container" id="container">
  <h1 class="text-center">Mis Eventos/Servicios</h1>
  <div class="services-container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center">Eventos Cercanos</h3>
        <div id="table-container" class="rounded-container">
          <app-list-scheduled-services-table></app-list-scheduled-services-table>
        </div>
      </div>
      <div class="col-md-8">
        <h3 class="text-center">Detalle del Evento</h3>
        <div id="detail-container" class="rounded-container">
          <app-detail-card></app-detail-card>
        </div>
        <!-- Buttons-->
        <div class="col-auto">
          <button type="submit" class="btn btn-primary me-2" id="btn-scheduler"  (click)="addSchedulerService()" i18n>Agendar</button>        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
