<div id="header" class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h1>Registro de Usuario SportApp</h1>
      <form id="user-registration-form" [formGroup]="serviceSignUpForm" class="form row g-3">
        <div class="form-group col-md-6">
          <label for="inputUsuario" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="inputUsuario" placeholder="micorreo@dominio.com" formControlName="inputUsuario">
          <div *ngIf="serviceSignUpForm.controls['inputUsuario'].invalid && (serviceSignUpForm.controls['inputUsuario'].dirty || serviceSignUpForm.controls['inputUsuario'].touched)" class="text-danger">
            <small *ngIf="serviceSignUpForm.get('inputUsuario')!.hasError('required')" class="text-danger">Este campo es requerido!</small>
            <small *ngIf="serviceSignUpForm.get('inputUsuario')!.hasError('pattern')" class="text-danger">Este campo debe tener formato de email valido</small>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputContrasena" class="form-label">Contrasena</label>
          <input type="password" class="form-control" id="inputContrasena" formControlName="inputContrasena">
          <div *ngIf="serviceSignUpForm.controls['inputContrasena'].invalid && (serviceSignUpForm.controls['inputContrasena'].dirty || serviceSignUpForm.controls['inputContrasena'].touched)" class="text-danger">
            <small *ngIf="serviceSignUpForm.get('inputContrasena')!.hasError('required')" class="text-danger">Este campo es requerido!</small>
            <small *ngIf="serviceSignUpForm.get('inputContrasena')!.hasError('pattern')" class="text-danger">Este campo debe tener entre 8 y 64 caracteres (no espacios, al menos una minuscula, mayuscula, digito y un caracter especial)</small>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputNombres" class="form-label">Nombres</label>
          <input type="text" class="form-control" id="inputNombres" formControlName="inputNombres">
          <div *ngIf="serviceSignUpForm.controls['inputNombres'].invalid && (serviceSignUpForm.controls['inputNombres'].dirty || serviceSignUpForm.controls['inputNombres'].touched)" class="text-danger">
            <small *ngIf="serviceSignUpForm.get('inputNombres')!.hasError('required')" class="text-danger">Este campo es requerido!</small>
            <small *ngIf="serviceSignUpForm.get('inputNombres')!.hasError('pattern')" class="text-danger">Este campo requiere entre 4 y 30 caracteres alfabeticos</small>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputPeso" class="form-label">Peso</label>
          <input type="text" class="form-control" id="inputPeso" placeholder="valor en kilogramos" formControlName="inputPeso">
          <div *ngIf="serviceSignUpForm.controls['inputPeso'].invalid && (serviceSignUpForm.controls['inputPeso'].dirty || serviceSignUpForm.controls['inputPeso'].touched)" class="text-danger">
            <small *ngIf="serviceSignUpForm.get('inputPeso')!.hasError('required')" class="text-danger">Este campo es requerido!</small>
            <small *ngIf="serviceSignUpForm.get('inputPeso')!.hasError('pattern')" class="text-danger">Este campo es numerico (usar punto como separador decimal). </small>
            <small *ngIf="serviceSignUpForm.get('inputPeso')!.hasError('min')" class="text-danger">El valor minimo de este campo es 40 kilogramos</small>
            <small *ngIf="serviceSignUpForm.get('inputPeso')!.hasError('max')" class="text-danger">El valor maximo de este campo es 500 kilogramos</small>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputApellidos" class="form-label">Apellidos</label>
          <input type="text" class="form-control" id="inputApellidos" formControlName="inputApellidos">
          <div *ngIf="serviceSignUpForm.controls['inputApellidos'].invalid && (serviceSignUpForm.controls['inputApellidos'].dirty || serviceSignUpForm.controls['inputApellidos'].touched)" class="text-danger">
            <small *ngIf="serviceSignUpForm.get('inputApellidos')!.hasError('required')" class="text-danger">Este campo es requerido!</small>
            <small *ngIf="serviceSignUpForm.get('inputApellidos')!.hasError('pattern')" class="text-danger">Este campo requiere entre 4 y 30 caracteres alfabeticos</small>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputEdad" class="form-label">Edad</label>
          <input type="text" class="form-control" id="inputEdad" formControlName="inputEdad">
          <div *ngIf="serviceSignUpForm.controls['inputEdad'].invalid && (serviceSignUpForm.controls['inputEdad'].dirty || serviceSignUpForm.controls['inputEdad'].touched)" class="text-danger">
            <small *ngIf="serviceSignUpForm.get('inputEdad')!.hasError('required')" class="text-danger">Este campo es requerido!</small>
            <small *ngIf="serviceSignUpForm.get('inputEdad')!.hasError('pattern')" class="text-danger">Este campo es numerico (entero)</small>
            <small *ngIf="serviceSignUpForm.get('inputEdad')!.hasError('min')" class="text-danger">El valor minimo de este campo es 18 años</small>
            <small *ngIf="serviceSignUpForm.get('inputEdad')!.hasError('max')" class="text-danger">El valor maximo de este campo es 90 años</small>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputTipoDoc" class="form-label">Tipo de Documento</label>
          <select (change)="get_tipo_documento($event)" id="inputTipoDoc" class="form-select">
            <option selected>CC</option>
            <option>RUT</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputAltura" class="form-label">Altura</label>
          <input type="text" class="form-control" id="inputAltura" placeholder="valor en centimetros" formControlName="inputAltura">
          <div *ngIf="serviceSignUpForm.controls['inputAltura'].invalid && (serviceSignUpForm.controls['inputAltura'].dirty || serviceSignUpForm.controls['inputAltura'].touched)" class="text-danger">
            <small *ngIf="serviceSignUpForm.get('inputAltura')!.hasError('required')" class="text-danger">Este campo es requerido!</small>
            <small *ngIf="serviceSignUpForm.get('inputAltura')!.hasError('pattern')" class="text-danger">Este campo es numerico (usar punto como separador decimal). </small>
            <small *ngIf="serviceSignUpForm.get('inputAltura')!.hasError('min')" class="text-danger">El valor minimo de este campo es 130 centimetros</small>
            <small *ngIf="serviceSignUpForm.get('inputAltura')!.hasError('max')" class="text-danger">El valor maximo de este campo es 230 centimetros</small>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputNumDoc" class="form-label">Numero de Documento</label>
          <input type="text" class="form-control" id="inputNumDoc" formControlName="inputNumDoc">
          <div *ngIf="serviceSignUpForm.controls['inputNumDoc'].invalid && (serviceSignUpForm.controls['inputNumDoc'].dirty || serviceSignUpForm.controls['inputNumDoc'].touched)" class="text-danger">
            <small *ngIf="serviceSignUpForm.get('inputNumDoc')!.hasError('required')" class="text-danger">Este campo es requerido!</small>
            <small *ngIf="serviceSignUpForm.get('inputNumDoc')!.hasError('pattern')" class="text-danger">Este campo debe tener 8 caracteres numericos</small>
          </div>
        </div>
        <div class="col-md-3">
          <label for="inputPaisNac" class="form-label">Pais de Nacimiento</label>
          <select (change)="get_pais_nacimiento($event)" id="inputPaisNac" class="form-select">
            <option selected>Colombia</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="inputCiudadNac" class="form-label">Ciudad de Nacimiento</label>
          <select (change)="get_ciudad_nacimiento($event)" id="inputCiudadNac" class="form-select">
            <option selected>Bogota</option>
            <option>Cali</option>
            <option>Medellin</option>
            <option>Barranquilla</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputGenero" class="form-label">Genero</label>
          <select (change)="get_genero($event)" id="inputGenero" class="form-select">
            <option selected>M</option>
            <option>F</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="inputPaisRes" class="form-label">Pais de Residencia</label>
          <select (change)="get_pais_residencia($event)" id="inputPaisRes" class="form-select">
            <option selected>Colombia</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="inputCiudadRes" class="form-label">Ciudad de Residencia</label>
          <select (change)="get_ciudad_residencia($event)" id="inputCiudadRes" class="form-select">
            <option selected>Bogota</option>
            <option>Cali</option>
            <option>Medellin</option>
            <option>Barranquilla</option>
          </select>
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label for="inputDeportes" class="form-label">Deportes</label>
          </div>
          <div class="form-check-inline col-md-4">
            <input (change)="checkboxCiclismoCambio($event)" [checked]="ciclismo" type="checkbox" class="btn-check" id="btn-ciclismo" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btn-ciclismo">Ciclismo</label><br>
          </div>
          <div class="form-check-inline col-md-4">
            <input (change)="checkboxAtletismoCambio($event)" [checked]="atletismo" type="checkbox" class="btn-check" id="btn-atletismo" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btn-atletismo">Atletismo</label><br>
          </div>
          <div class="form-check-inline col-md-2">
            <input (change)="checkboxOtrosCambio($event)" [checked]="otros_deportes" type="checkbox" class="btn-check" id="btn-otros" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btn-otros">Otros</label><br>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputAntiguedad" class="form-label">Antiguedad</label>
          <input type="text" class="form-control" id="inputAntiguedad" placeholder="valor en meses" formControlName="inputAntiguedad">
          <div *ngIf="serviceSignUpForm.controls['inputAntiguedad'].invalid && (serviceSignUpForm.controls['inputAntiguedad'].dirty || serviceSignUpForm.controls['inputAntiguedad'].touched)" class="text-danger">
            <small *ngIf="serviceSignUpForm.get('inputAntiguedad')!.hasError('required')" class="text-danger">Este campo es requerido!</small>
            <small *ngIf="serviceSignUpForm.get('inputAntiguedad')!.hasError('pattern')" class="text-danger">Este campo es numerico (entero)</small>
            <small *ngIf="serviceSignUpForm.get('inputAntiguedad')!.hasError('min')" class="text-danger">El valor minimo de este campo es 1 mes</small>
            <small *ngIf="serviceSignUpForm.get('inputAntiguedad')!.hasError('max')" class="text-danger">El valor maximo de este campo es 900 meses</small>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputTipoPlan" class="form-label">Tipo de Plan</label>
          <select (change)="get_tipo_plan($event)" [(value)]="tipo_plan" id="inputTipoPlan" class="form-select">
            <option selected>Basico</option>
            <option>Intermedio</option>
            <option>Premium</option>
            <option>No Aplica</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputTipoUsuario" class="form-label">Tipo de Usuario</label>
          <select (change)="get_tipo_usuario($event)" [(value)]="tipo_usuario" id="inputTipoUsuario" class="form-select">
            <option selected>Usuario</option>
            <option>Proveedor</option>
          </select>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary me-2" (click)="createUser()" [disabled]="!serviceSignUpForm.valid || (ciclismo==false && atletismo==false && otros_deportes==false)">Guardar</button>
          <button type="button" class="btn btn-danger" (click)="cancel();reset_checkboxes(false,false,false)">Cancel</button>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
</div>


