h1 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}
#user-registration-form {
  max-height: 80%;
  overflow-y: scroll;
}
#user-registration-form::-webkit-scrollbar {
  width: 12px;
}
