<!-- Header -->
<app-headers></app-headers>
<!-- Content -->
<div class="container">
  <div class="row">
    <div class="col">
      <app-signin-form></app-signin-form>
    </div>
    <div class="col">
      <div class="jumbotron">
        <h1>Hola, Deportista!</h1>
        <p>Ingresa a SportAPP y conoce excelentes funcionalidades para ti!</p>
        <img src="./assets/images/home/couple-jogging.jpg" width="450" class="img-fluid" alt="Responsive image">        
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
