<!-- Header -->
<app-headers></app-headers>
<!-- Content -->
<div class="main-container">
  <div class="row child-container">
    <div class="col">
      <app-signin-form></app-signin-form>
    </div>
    <div class="col">
      <div class="jumbotron">
        <h1>Hola, Deportista!</h1>
        <p>Ingresa a SportAPP y conoce excelentes funcionalidades para ti!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
