<!-- Header -->
<app-headers></app-headers>
<!-- Content -->
<div class="container" id="container">
  <h1 class="text-center" i18n>My Events/Services</h1>
  <div class="services-container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center" i18n>Nearby Events</h3>
        <div id="table-container" class="rounded-container">
          <app-list-services-table></app-list-services-table>
        </div>
      </div>
      <div class="col-md-8">
        <h3 class="text-center" i18n>Event/Service Detail</h3>
        <div id="detail-container" class="rounded-container">
          <app-detail-card></app-detail-card>
          <app-notification-form></app-notification-form>
          <app-list-scheduled-users-table></app-list-scheduled-users-table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
