h1 {
  margin: 2% auto;
}

.btn-danger{
  background-color: rgb(166, 28, 47);
  border-color: rgb(166, 28, 47);
}

.container{
  background-color: #212529;
  padding: 3%;
  border-radius: 10px;
  border: 1px solid #212529;
}

small{
  color: rgb(255, 153, 153);
}
