<div class="container">
  <form id="service-registration-form" [formGroup]="serviceRegistrationForm">
    <div class="row text-center">
      <h1 i18n>Register a new service</h1>
    </div>
    <div class="row">
      <div class="col">
        <label for="rut" i18n>RUT</label>
        <input type="text" id="rut" class="form-control" formControlName="rut">
        <div *ngIf="serviceRegistrationForm.controls['rut'].invalid && (serviceRegistrationForm.controls['rut'].dirty || serviceRegistrationForm.controls['rut'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['rut'].errors?.['minlength']">
            Value you entered is
                {{ serviceRegistrationForm.controls['rut'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['rut'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['rut']?.errors?.['required']">RUT is required!</small>
        </div>
        <label for="service" i18n>Service</label>
        <input type="text" id="service" class="form-control" formControlName="service">
        <div *ngIf="serviceRegistrationForm.controls['service'].invalid && (serviceRegistrationForm.controls['service'].dirty || serviceRegistrationForm.controls['service'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['service'].errors?.['minlength']">
            Value you entered is
                {{ serviceRegistrationForm.controls['service'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['service'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['service']?.errors?.['required']">Service is required!</small>
        </div>
        <label for="description" i18n>Service description</label>
        <textarea id="description" class="form-control" formControlName="description"></textarea>
        <div *ngIf="serviceRegistrationForm.controls['description'].invalid && (serviceRegistrationForm.controls['description'].dirty || serviceRegistrationForm.controls['description'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['description'].errors?.['minlength']">
            Value you entered isS
                {{ serviceRegistrationForm.controls['description'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['description'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['description']?.errors?.['required']">Service description is required!</small>
        </div>
      </div>
      <div class="col">
        <label for="license" i18n>Professional Card/License</label>
        <input type="text" id="license" class="form-control" formControlName="license">
        <div *ngIf="serviceRegistrationForm.controls['license'].invalid && (serviceRegistrationForm.controls['license'].dirty || serviceRegistrationForm.controls['license'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['license'].errors?.['minlength']">
            Value you entered is
                {{ serviceRegistrationForm.controls['license'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['license'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['license']?.errors?.['required']">Professional Card/License is required!</small>
        </div>
        <label for="experience" i18n>Years of experience</label>
        <input type="number" id="experience" class="form-control" formControlName="experience">
        <div *ngIf="serviceRegistrationForm.controls['experience'].invalid && (serviceRegistrationForm.controls['experience'].dirty || serviceRegistrationForm.controls['experience'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['experience'].errors?.['minlength']">
            Value you entered is
                {{ serviceRegistrationForm.controls['experience'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['experience'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['experience']?.errors?.['required']">Service description is required!</small>
        </div>
        <label for="recommendation i18n">Recommendation for taking the Service</label>
        <textarea id="recommendation" class="form-control" formControlName="recommendation"></textarea>
      </div>
    </div>
    <div class="row mt-3 text-center">
      <div class="col">
        <button type="submit" class="btn btn-primary" id="btn-register" (click)="registerService()" [disabled]="serviceRegistrationForm.invalid" i18n>Register</button>
      </div>
    </div>
  </form>
</div>
