<div class="container">
  <form id="description-registration-form" [formGroup]="serviceRegistrationForm">
    <div class="row text-center">
      <h1 i18n>Register a new Service</h1>
      <hr>
    </div>
    <div class="row">
      <div class="col">
        <!-- Service name input-->
        <label for="name" i18n>Service name</label>
        <input type="text" id="name" class="form-control" formControlName="name">
        <div *ngIf="serviceRegistrationForm.controls['name'].invalid && (serviceRegistrationForm.controls['name'].dirty || serviceRegistrationForm.controls['name'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['name'].errors?.['minlength']" i18n>
            Value you entered is
                {{ serviceRegistrationForm.controls['name'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['name'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['name']?.errors?.['required']" i18n>Service name is required!</small>
        </div>
        <!-- Service description input-->
        <label for="description" i18n>Service description</label>
        <input type="text" id="description" class="form-control" formControlName="description">
        <div *ngIf="serviceRegistrationForm.controls['description'].invalid && (serviceRegistrationForm.controls['description'].dirty || serviceRegistrationForm.controls['description'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['description'].errors?.['minlength']" i18n>
            Value you entered is
                {{ serviceRegistrationForm.controls['description'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['description'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['description']?.errors?.['required']" i18n>Service description is required!</small>
        </div>
        <!-- Cost of service input-->
        <label for="cost" i18n>Cost of service</label>
        <input type="text" id="cost" class="form-control" formControlName="cost">
        <div *ngIf="serviceRegistrationForm.controls['cost'].invalid && (serviceRegistrationForm.controls['cost'].dirty || serviceRegistrationForm.controls['cost'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['cost'].errors?.['minlength']" i18n>
            Value you entered is
                {{ serviceRegistrationForm.controls['cost'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['cost'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['cost']?.errors?.['required']" i18n>Cost of service is required!</small>
        </div>
        <!-- Place input-->
        <label for="place" i18n>Place</label>
        <input type="text" id="place" class="form-control" formControlName="place">
        <div *ngIf="serviceRegistrationForm.controls['place'].invalid && (serviceRegistrationForm.controls['place'].dirty || serviceRegistrationForm.controls['place'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['place'].errors?.['minlength']" i18n>
            Value you entered is
                {{ serviceRegistrationForm.controls['place'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['place'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['place']?.errors?.['required']" i18n>Place is required!</small>
        </div>
      </div>
      <div class="col">
        <!-- Date of service and Time of service input-->
        <div class="row">
          <div class="col-md-4">
            <label for="date" i18n>Date of service</label>
            <input type="date" id="date" class="form-control" formControlName="date">
          </div>
          <div class="col-md-4">
              <label for="timeStart">Hora Inicio</label>
              <input type="time" id="timeStart" class="form-control" [(ngModel)]="timeStart" formControlName="timeStart">
            </div>
            <div class="col-md-4">
              <label for="timeEnd">Hora Fin</label>
              <input type="time" id="timeEnd" class="form-control" [(ngModel)]="timeEnd" formControlName="timeEnd">
            </div>
        </div>
        <div *ngIf="serviceRegistrationForm.controls['date'].invalid && (serviceRegistrationForm.controls['date'].dirty || serviceRegistrationForm.controls['date'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['date']?.errors?.['required']" i18n>Date of service is required!</small>
        </div>
        <div *ngIf="serviceRegistrationForm.controls['timeStart'].invalid && (serviceRegistrationForm.controls['timeStart'].dirty || serviceRegistrationForm.controls['timeStart'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['timeStart']?.errors?.['required']">La hora de inicio es requerida!</small>
        </div>
        <div *ngIf="serviceRegistrationForm.controls['timeEnd'].invalid && (serviceRegistrationForm.controls['timeEnd'].dirty || serviceRegistrationForm.controls['timeEnd'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['timeEnd']?.errors?.['required']">La hora fin es requerida!</small>
        </div>
        <div *ngIf="serviceRegistrationForm.controls['timeEnd'].invalid && (serviceRegistrationForm.controls['timeEnd'].dirty || serviceRegistrationForm.controls['timeEnd'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['timeEnd']?.errors?.['invalidRange']">El tiempo de finalización debe ser igual o mayor al tiempo de inicio!</small>
        </div>
        <!-- Minimum number of participants input-->
        <label for="minimum_number_participants" i18n>Minimum number of participants</label>
        <input type="number" id="minimum_number_participants" class="form-control" formControlName="minimum_number_participants">
        <div *ngIf="serviceRegistrationForm.controls['minimum_number_participants'].invalid && (serviceRegistrationForm.controls['minimum_number_participants'].dirty || serviceRegistrationForm.controls['minimum_number_participants'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['minimum_number_participants'].errors?.['minlength']" i18n>
            Value you entered is
                {{ serviceRegistrationForm.controls['minimum_number_participants'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['minimum_number_participants'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['minimum_number_participants']?.errors?.['required']" i18n>Minimum number of participants is required!</small>
        </div>
        <!-- Maximum number of participants input-->
        <label for="maximum_number_participants" i18n>Maximum number of participants</label>
        <input type="number" id="maximum_number_participants" class="form-control" formControlName="maximum_number_participants">
        <div *ngIf="serviceRegistrationForm.controls['maximum_number_participants'].invalid && (serviceRegistrationForm.controls['maximum_number_participants'].dirty || serviceRegistrationForm.controls['maximum_number_participants'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['minimum_number_participants'].errors?.['minlength']" i18n>
            Value you entered is
                {{ serviceRegistrationForm.controls['maximum_number_participants'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['maximum_number_participants'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['maximum_number_participants']?.errors?.['required']" i18n>Maximum number of participants is required!</small>
        </div>
        <!-- Service frequency input-->
        <label for="frequency" i18n>Service frequency</label>
        <input type="text" id="frequency" class="form-control" formControlName="frequency">
        <div *ngIf="serviceRegistrationForm.controls['frequency'].invalid && (serviceRegistrationForm.controls['frequency'].dirty || serviceRegistrationForm.controls['frequency'].touched)" class="text-danger">
          <small *ngIf="serviceRegistrationForm.controls['frequency'].errors?.['minlength']" i18n>
            Value you entered is
                {{ serviceRegistrationForm.controls['frequency'].errors?.['minlength'].actualLength }} characters, but you must enter
                {{ serviceRegistrationForm.controls['frequency'].errors?.['minlength'].requiredLength}} characters.
          </small>
          <small *ngIf="serviceRegistrationForm.controls['frequency']?.errors?.['required']" i18n>Service frequency is required!</small>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <!-- Buttons-->
      <div class="col-auto">
        <button type="submit" class="btn btn-primary me-2" id="btn-register" (click)="registerService()" [disabled]="serviceRegistrationForm.invalid" i18n>Register</button>
        <button type="button" class="btn btn-danger" id="btn-cancel" (click)="cancel()" i18n>Cancel</button>
      </div>
    </div>
  </form>
</div>
