<div class="container" *ngIf="selectedService !== undefined">
  <div class="card">
    <div class="card-body">
      <table class="table rounded-table" id="table-detail-service">
        <tbody>
          <tr>
            <td>
              <strong i18n>Name: </strong>
              <p>{{ selectedService.nombre }}</p>
            </td>
            <td>
              <div class="row">
                <div class="col-md-4">
                  <strong i18n>Date: </strong>
                  <p>{{ splitDate(selectedService.fecha) }}</p>
                </div>
                <div class="col-md-8">
                  <strong i18n>Time: </strong>
                  <p>{{ selectedService.horario ? getSchedule(selectedService.horario) : selectedService.hora }}</p>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <strong i18n>Organizador: </strong>
              <p>{{ selectedService.nombre_usuario ? selectedService.nombre_usuario : selectedService.nombre_proveedor }}</p>
            </td>
            <td>
              <div class="row">
                <div class="col-md-4">
                  <strong i18n>Cost: </strong>
                  <p>{{ selectedService.costo }}</p>
                </div>
                <div class="col-md-8">
                  <strong i18n>Place: </strong>
                  <p>{{ selectedService.lugar }}</p>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <strong i18n>Description: </strong>
              <p>{{ selectedService.descripcion }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
