<!-- Header -->
<app-headers></app-headers>
<!-- Content -->
<div class="container" id="container">
  <h1 class="text-center">Mis Eventos/Servicios</h1>
  <div class="services-container">

    <div class="row">
      <div class="col-md-5">
        <h3 class="text-center">Eventos Cercanos</h3>
        <div id="table-container" class="rounded-container">
          <app-list></app-list>
        </div>
      </div>
      <div class="col-md-7">
        <h3 class="text-center">Detalle del Evento</h3>
        <div id="detail-container" class="rounded-container">
          <app-detail></app-detail>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
