<div class="container" *ngIf="selectedService !== undefined && selectedService.id_servicio !== undefined">
  <div class="card">
    <div class="card-body">
      <div>
        <form [formGroup]="notificationForm">
          <div class="notification-form">
            <textarea formControlName="message" id="message" class="form-control notification-input"
              placeholder="Notification message to registered users" i18n-placeholder="@@messagePlaceholder"></textarea>
            <button type="submit" class="btn btn-primary" id="btn-send-notification" [disabled]="notificationForm.invalid" (click)="sendNotification()" i18n>Send notification</button>
          </div>
          <div
            *ngIf="notificationForm.controls['message'].invalid && (notificationForm.controls['message'].dirty || notificationForm.controls['message'].touched)"
            class="text-danger">
            <small *ngIf="notificationForm.controls['message'].errors?.['minlength']" i18n>
              Value you entered is
              {{ notificationForm.controls['message'].errors?.['minlength'].actualLength }} characters, but you must enter
              ingresar
              {{ notificationForm.controls['message'].errors?.['minlength'].requiredLength}} characters.
            </small>
            <small *ngIf="notificationForm.controls['message']?.errors?.['required']" i18n>Message is required!</small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
